body {
  font-size: 15px; 
  background-color: rgb(73,62,53); 
  font-family: 'Kaushan Script', cursive;

}

#header-nav{
    background-color: white;
	border-radius: 0;
	border: 0;
}

#logo {
  background: url("logo1.jpg") no-repeat;
  width: 120px;
  height: 100px;
  margin: 0px;
  }

.navbar-brand {
  padding-top: 8px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Dancing Script', cursive;
  text-shadow: 4px 4px 4px #aaa;
  color: #394226;
  line-height: .75;
  /*margin-top: 0;
  margin-bottom: 0;*/
}

/*.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
*/
#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: rgb(73,62,53);
  text-align: center;
}

#nav-list a:hover {
  background: #b6b1ae;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle.collapsed, .navbar-header .icon-bar{
	border: 1px solid #61122f;
} 

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top:-50px;
}

/*
.navbar-header button.navbar-toggle {
  border: 1px solid yellow;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
} */


#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #756455;
  box-shadow:0 0 50px #756455;
  overflow: hidden;
}

  
  
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {	
	box-shadow:0 0 50px white;
}

#menu-tile
{
  background: url('../images/devil-cake.jpg') no-repeat;
  background-position: center;
}


#specials-tile
{
  background: url('../images/special.jpg') no-repeat;
  background-position: center;
}


#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #745937;
	background-color: #e5c99d;
	opacity: .8;
}
.panel-footer{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 0;
	background-color: #e5c99d;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #address{
	line-height: 1.6;
}

#hours, #address, #testimonials{
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.4em;
}

#hours > span, #address > span {
  font-size: 1.3em;
}

#address p {
  color: #443322;
  font-size: .8em;
  line-height: 1.4;
  font-weight: 600;  
}
#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2){
	margin-top: 30px;
}

/*
h2{
  position: absolute;
  margin-top: 520px;
  margin-left: 0;
  width: 80%;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 2.4em;    
  border: 1px solid #756455;
  color: #745937;
  background-color: #e5c99d;
  opacity: .8;
  box-shadow:0 0 50px #756455;
  
}*/

h2{
  margin-bottom: 30px; 
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 2.4em;    
  color: #cc9966;
  text-shadow: 4px 4px 4px #745937;
   
}

.category-title{
	position: relative;
	height:200px;
	width: 200px;
  border: 2px solid #756455;
  box-shadow:0 0 50px #756455;
  overflow: hidden;
  margin: 0 auto 15px;
}

.category-title span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #745937;
	background-color: #e5c99d;
	opacity: .8;
}

.category-title:hover{
	box-shadow:0 1px 5px 1px white;
}

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
  color: #cc9966;
}

.menu-item-tile .menu-price{
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: 70px;

}

.menu-photo{
	position: relative;
	border: 2px solid #756455;
	overflow: hidden;
	padding: 0;
	margin-left: auto;
	margin-right: -15px;
	margin-bottom: 20px;
	max-width: 200px;
}

.menu-photo div{
 position: absolute;
 bottom: 0;
 right: 0;
 width: 50px;
 background-color:#cc9966;
 text-align: center; 
 color: #531010;
 font-weight: bold;

}

.menu-item-desc{
	padding-right: 30px;
}

h3.menu-item-tile{
	font-family: 'Dancing Script', cursive;
	margin:0 0 20px;
	font-size: 1.8em;
	font-weight: bold;

}


.about{
	color: #cc9966;
  font-size: 18px;
}


/* END- SINGLE CATEGORY PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
	#logo {
		margin-left: -40px;		
	 }

	 .container .jumbotron{
	 	 background: url("../images/jumbo-1200.jpg") no-repeat;
	 	 height: 675px;
	 	 border: 2px solid #756455;
	 	 box-shadow:0 0 50px #756455;
	 	 } 	
	
     
    

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
.container .jumbotron{
	 	 background: url("../images/jumbo-992.jpg")no-repeat;
	 	 height: 558px;
	 	 box-shadow: 0 0 50px #756455;
	 	 border: 2px solid #756455;
	 	}	
 

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#logo {
		margin-left: -30px;
	}
	.container .jumbotron{
	 	 background: url("../images/jumbo-768.jpg")no-repeat;
	 	 height: 479px;
	 	 box-shadow: 0 0 50px #756455;
	 	 border: 2px solid #756455;
	 	} 

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

.navbar-brand h1 { /* Restaurant name */
    
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

 #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1em;
  }

  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-bottom: 5px;
    
  }

 .btn{
 	border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
    display: block;

 } 

 #xs-deliver{
 	color: white;
 	margin-top: 3px;
 	text-transform: uppercase;
   }

   .container .jumbotron{
	 	 margin-top: 30px;
	 	 padding:0;
	 	 box-shadow: 0 0 50px #756455;
	 	 border: 2px solid #756455;
	 	}

	#menu-tile, #specials-tile{
		width: 360px;
		margin: 0 auto 15px auto;
	} 

	.panel-footer section
	{
		text-align: center;
		margin-bottom: 30px;
	}

 .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }

  .panel-footer section hr {
    width: 100%;
  }

 .menu-photo{
 	margin-right: auto;
 }
.menu-item-tile .menu-price{
    text-align: center;
  }
  .menu-item-desc {
   text-align: center;
}

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12{
  	width: 100%;
  }

}

  


