/*********** base style ************/

* {
  box-sizing: border-box;
  }

#s1, #s2, #s3{
  padding: 12px;
}

h1{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.hbox {  
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  font-size: 1.25rem;

}

#s1 .hbox{
    background-color: #8B008B;
  }

#s2 .hbox{
  background-color: #E9967A;
}


#s3 .hbox{
  background-color: #008B8B;
}

#s1 .p,#s2 .p,#s3 .p{ 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  background-color: #FFC0CB; 
  position: relative;
  border:1px solid black;
  padding-top: 12px;
  
}


/********** Large devices only **********/

@media only screen and (min-width: 992px) {
  #s1,#s2,#s3 {
  display: inline-block;
  width: 33%;
   }
  }


/********** Medium devices only **********/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #s1,#s2,#s3 {
    display: inline-block;
    }
 
 #s1, #s2 {
    width: 49.7%;
  }

   #s3 {
        width: 100%;
  }

 }

/************ small devices *************/
  
@media only screen and (max-width: 767px){
  #s1,#s2,#s3 {
    display: inline-block;
    width: 100%;
    
  }
 }

